.top_header{
    overflow: hidden;

}
.logo{
    width: 30%;
    height: 100px;
    background-color: blueviolet;
    float: left;

}
.banner{
    width: 68%;
    height: 100px;
    background-color: brown;
    float: right;

}
.header_bar{
    height: 100px;
    background-color: teal;
    margin-top: 10px;

}
.content{
    margin-top: 10px;
    overflow: hidden;

}
.left{
    width: 20%;
    height: 400px;
    background-color: hotpink;
    float: left;

}
.middle{
    width: 50%;
    height: 400px;
    background-color: crimson;
    float: left;
    margin-left: 5%;

}
.top{
    height: 100px;
    background-color: darkgoldenrod;

}
.center{
    height: 200px;
    background-color: darkgreen;

}
.left_center{
    width: 50%;
    height: 200px;
    background-color: steelblue;
    float: left;

}
.right_center{
    width: 50%;
    height: 200px;
    background-color: rgb(156, 70, 110);
    float: right;

}
.bottom{
    height: 100px;
    background-color: lightseagreen;

}
.right{
    width: 20%;
    height: 400px;
    background-color: rgb(89, 89, 199);
    float: right;

}
footer{
    height: 100px;
    background-color: rgb(142, 70, 236);
    margin-top: 10px;
}
h1{
    margin: 0;
}